<div class="app-history">
  <div class="media ">
    
    <div class="media-body">
      <h4 class="media-heading"><%=history.title %></h4>
      <%=history.text %>
    </div>
    <div class="app-history-data">Publicado por <strong><%=history.username %></strong> el 24/04/2017 
      <div class="pull-right app-history-stars"><%=history.fires %> <a href=""><span class="glyphicon glyphicon-fire"></span></a> | <%=history.likes %> <a href=""><span class="glyphicon glyphicon-star"></span></a></div>
    </div>
  </div>
</div>